* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font: normal 14px/22px arial, sans-serif;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#preloader {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  left: 0;
  top: 0;
}

#preloader .loader {
  border: 5px solid #007db8;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  border-radius: 50%;
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  -webkit-animation: loader 2s  infinite linear;
          animation: loader 2s  infinite linear;
}

#preloader .loader::before, #preloader .loader::after {
  border: 20px solid transparent;
  border-bottom: 50px solid #007db8;
  border-top: 50px solid #007db8;
  height: calc(100% - 100px);
  left: calc(50% - 20px);
  border-radius: 50%;
  position: absolute;
  display: block;
  content: "";
  top: -5px;
  width: 0;
}

#preloader .loader::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

aside svg {
  height: 100%;
  width: 100%;
}

aside#ctrlViewPose {
  background: #eee;
  position: fixed;
  height: 100vh;
  width: 100px;
  left: 0;
  top: 0;
}

@media screen and (max-width: 768px) {
  aside#ctrlViewPose {
    height: 100px;
    width: 100vw;
    top: auto;
    bottom: 0;
  }
}

aside#ctrlViewPose nav {
  top: calc(50% - 200px);
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 768px) {
  aside#ctrlViewPose nav {
    width: 100vw;
    top: 0;
  }
}

aside#ctrlViewPose nav ul {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -ms-grid;
  display: grid;
  height: 100%;
  padding: 0;
  margin: 0;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
}

@media screen and (max-width: 768px) {
  aside#ctrlViewPose nav ul {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

aside#ctrlViewPose nav ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: block;
  padding: 20px;
  margin: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

aside#ctrlViewPose nav ul li.active, aside#ctrlViewPose nav ul li:hover, aside#ctrlViewPose nav ul li:active {
  background: rgba(0, 0, 0, 0.05);
}

aside#ctrlViewPose nav ul li img {
  pointer-events: none;
  display: block;
  height: 100%;
  width: 100%;
  border: 0;
}

aside#ctrlHelp {
  background: url(../images/right_pop.png) no-repeat 0 0;
  color: #fff;
  position: fixed;
  right: -312px;
  height: 272px;
  width: 345px;
  top: 5vh;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  aside#ctrlHelp {
    bottom: 1vh;
  }
}

aside#ctrlHelp.visible {
  right: 0;
}

@media screen and (max-width: 768px) {
  aside#ctrlHelp.visible {
    right: -110px;
  }
}

aside#ctrlHelp.controls {
  padding: 15px 0 20px 60px;
}

aside#ctrlHelp.controls i#info {
  border-radius: 65px 0 0 65px;
  top: calc(50% - 53px);
  background: #007db8;
  text-align: center;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 66px;
  text-indent: 150%;
  overflow: hidden;
  cursor: pointer;
  height: 66px;
  width: 33px;
  left: 0;
}

aside#ctrlHelp.controls .icon {
  pointer-events: none;
  visibility: visible;
  position: absolute;
  fill: #fff;
  height: 100%;
  width: 100%;
  right: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

aside#ctrlHelp.controls #close {
  visibility: hidden;
}

aside#ctrlHelp.controls.visible .icon {
  width: 80%;
  right: 0;
}

aside#ctrlHelp.controls.visible #arrow {
  visibility: hidden;
}

aside#ctrlHelp.controls.visible #close {
  visibility: visible;
}

aside#ctrlHelp.controls .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "span col1 col2" "row1 auto auto" "row2 auto auto" "row3 auto auto";
  -ms-grid-rows: 20px auto auto auto;
      grid-template-rows: 20px auto auto auto;
  height: 100%;
}

aside#ctrlHelp.controls .container span {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside#ctrlHelp.controls .container span.col1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: col1;
}

aside#ctrlHelp.controls .container span.col2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: col2;
}

aside#ctrlHelp.controls .container span.row1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: row1;
}

aside#ctrlHelp.controls .container span.row2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: row2;
}

aside#ctrlHelp.controls .container span.row3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: row3;
}

aside#ctrlZoom .zoomSlider {
  border-radius: 10px 0 0 10px;
  background: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 220px;
  bottom: 5vh;
  width: 80px;
  z-index: 1;
  right: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  aside#ctrlZoom .zoomSlider {
    bottom: calc(5vh + 80px);
  }
}

aside#ctrlZoom .zoomSlider #zoomIn, aside#ctrlZoom .zoomSlider #zoomOut {
  border: 2px solid #007db8;
  left: calc(50% - 12px);
  color: #fff;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  margin: auto;
  height: 24px;
  width: 24px;
}

aside#ctrlZoom .zoomSlider #zoomIn svg, aside#ctrlZoom .zoomSlider #zoomOut svg {
  fill: #005a85;
}

aside#ctrlZoom .zoomSlider #zoomIn::before, aside#ctrlZoom .zoomSlider #zoomOut::before {
  background: #007db8;
  left: calc(50% - 4px);
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  width: 8px;
}

aside#ctrlZoom .zoomSlider #zoomOut {
  font-size: 150%;
  bottom: 52px;
}

aside#ctrlZoom .zoomSlider #zoomOut::before {
  top: -3px;
}

aside#ctrlZoom .zoomSlider #zoomIn {
  top: 20px;
}

aside#ctrlZoom .zoomSlider #zoomIn::before {
  bottom: -3px;
}

aside#ctrlZoom .zoomSlider #zoomSlider {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #007db8;
  orientation: center;
  position: absolute;
  cursor: ns-resize;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  outline: 0 none;
  border: 0 none;
  display: block;
  width: 100px;
  height: 8px;
  left: -12px;
  z-index: 0;
  top: 88px;
}

aside#ctrlZoom .zoomSlider #zoomSlider::-webkit-slider-thumb, aside#ctrlZoom .zoomSlider #zoomSlider::-moz-range-thumb {
  border: 1px solid #005a85;
  background: #006c9f;
  border-radius: 2px;
  -webkit-appearance: none;
          appearance: none;
  height: 20px;
  width: 10px;
}

aside#ctrlZoom .zoomSlider #btnReset {
  font: normal 14px/20px arial, sans-serif;
  background: transparent;
  color: #007db8;
  position: absolute;
  line-height: 20px;
  font-weight: bold;
  font-size: 115%;
  cursor: pointer;
  outline: none;
  bottom: 18px;
  height: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  left: 0;
}

aside#ctrlZoom #testRotate {
  position: absolute;
  top: 5vh;
  right: 10vw;
}

main {
  overflow: hidden;
  display: block;
}

main #prdViewer {
  display: block;
  height: 100vh;
  width: 100vw;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */